# =====================================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================================
# Dependências (ignora todos os node_modules em qualquer nível)
**/node_modules/

# =====================================
# Builds / outputs (NestJS, Angular, TypeScript, temporários)
**/dist/
**/coverage/
**/tmp/
**/temp/
**/out-tsc/
**/.angular/

# =====================================
# IDEs e configurações locais
.vscode/
.idea/
*.swp

# =====================================
# Sistema operacional
.DS_Store
Thumbs.db

# =====================================
# Arquivos de ambiente (sensíveis)
.env
.env.local
.env.*.local
