.dashboard-container {
  min-height: 100vh;
}

.dashboard-title {
  width: 100% !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}
mat-card-header {
  margin-bottom: 16px;
  padding-top: 0 !important;
}

mat-card-title {
  color: #026e00;
  font-weight: 500;
  padding-top: 16px !important;
}

.dashboard-card {
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  margin: 24px;
  min-width: 1000px;
}

.dashboard-metrics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem 0;
  margin-bottom: 2rem;
}

.metric-card {
  flex: 1 1 auto;
  background: var(--md-sys-color-surface-container-high, #fff);
  min-width: 450px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0;

  canvas {
    background: var(--md-sys-color-surface, #fff);
    border-radius: 6px;
    width: 100% !important;
    height: 100% !important;
    flex: 1 1 auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    display: block;
  }
}

.metric-card mat-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

.chart-wrapper {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.metric-card .pie-canvas {
  max-width: 325px;
  max-height: 325px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.metric-list {
  flex: 1 1 auto;
  background: var(--md-sys-color-surface-container-high, #fff);

  min-width: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 300px;
  width: 100%;
  padding: 0;
}

::ng-deep .metric-title {
  margin-top: 16px; // ajuste o valor conforme desejar
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
  align-self: flex-start;
}

.metric-list-header {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.metric-list-header li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 8px 0 4px 0;
  border-bottom: 2px solid #bbb;
  background: #f7f7f7;
}

.metric-list ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.metric-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.metric-list .entry-field {
  white-space: nowrap;
}

.metric-list-header li,
.metric-list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.metric-list-header .entry-field,
.metric-list .entry-field {
  flex: 1 1 0;
  min-width: 120px;
  text-align: left;
}
