.dashboard-container {
  min-height: 100vh;  
}

.dashboard-title{
  width: 100% !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

.dashboard-card {
  // background: var(--md-sys-color-surface-container, #f7ffee);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  padding: 1.5rem;
  margin: 24px;
}

.dashboard-metrics {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.metric-card {
  flex: 1 1 250px;
  min-width: 250px;
  max-width: 350px;
  background: var(--md-sys-color-surface-container-high, #fff);
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  text-align: center;

  h2 {
    margin: 0.5rem 0;
    font-size: 2rem;
    color: var(--md-sys-color-primary, #2b891f);
  }

  p {
    margin: 0.25rem 0;
    color: var(--md-sys-color-on-surface-variant, #4f7096);
  }

  canvas {
    width: 100% !important;
    max-width: 300px;
    height: 150px !important;
    margin: 1rem auto 0 auto;
    background: var(--md-sys-color-surface, #fff);
    border-radius: 6px;
  }
}

::ng-deep .metric-title {
  margin-top: 16px; // ajuste o valor conforme desejar
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
}