<div class="dashboard-container">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title class="dashboard-title">Dashboard de Produção</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="dashboard-metrics">
        <mat-card class="metric-card">
          <mat-card-title class="metric-title">Eficiência da Produção</mat-card-title>
          <mat-card-content>
            <h2>92%</h2>
            <p>Últimas 4 semanas</p>
            <canvas #barCanvas></canvas>
          </mat-card-content>
        </mat-card>
        <mat-card class="metric-card">
          <mat-card-title class="metric-title">Perdas de Material</mat-card-title>
          <mat-card-content>
            <h2>5%</h2>
            <p>Últimos 30 dias</p>
            <canvas #lineCanvas></canvas>
          </mat-card-content>
        </mat-card>
        <mat-card class="metric-card">
          <mat-card-title class="metric-title">Tempo Médio de Ciclo</mat-card-title>
          <mat-card-content>
            <h2>2.5 horas</h2>
            <p>Últimos 30 dias</p>
            <span style="color: #e83808;">-0.5 horas</span>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>