.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;

  mat-form-field {
    flex: 1 1 auto;
    min-width: 150px;
  }
}
.documents {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
mat-card-title {
  color: #026e00;
  font-weight: 500;
}
table {
  width: 100%;

  th.mat-header-cell {
    font-weight: 600;
  }

  td.mat-cell {
    vertical-align: middle;
  }

  mat-icon {
    margin-right: 8px;
    vertical-align: middle;
  }
}

// Ajustes para telas menores
@media (max-width: 768px) {
  .filters {
    flex-direction: column;

    mat-form-field {
      max-width: 100%;
    }
  }
}
