<mat-card>
  <mat-card-content>
    <div class="filters">
      <mat-form-field appearance="fill">
        <mat-label>Id do produto</mat-label>
        <input
          matInput
          [formControl]="productIdFilter"
          (input)="loadDocuments()"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome do produto</mat-label>
        <mat-select
          [formControl]="productNameFilter"
          (selectionChange)="loadDocuments()"
        >
          <mat-option *ngFor="let name of productNames" [value]="name">
            {{ name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome do arquivo</mat-label>
        <input
          matInput
          [formControl]="filenameFilter"
          (input)="loadDocuments()"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de arquivo</mat-label>
        <mat-select
          [formControl]="filetypeFilter"
          (selectionChange)="loadDocuments()"
        >
          <mat-option *ngFor="let type of filetypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Data de upload</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [formControl]="uploadDateFilter"
          (dateChange)="loadDocuments()"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="filteredDocuments" class="mat-elevation-z8">
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef>Id do produto</th>
        <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
      </ng-container>

      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Nome do produto</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

      <ng-container matColumnDef="filename">
        <th mat-header-cell *matHeaderCellDef>Nome do arquivo</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon color="primary">description</mat-icon>
          {{ element.filename }}
        </td>
      </ng-container>

      <ng-container matColumnDef="filetype">
        <th mat-header-cell *matHeaderCellDef>Tipo de arquivo</th>
        <td mat-cell *matCellDef="let element">{{ element.filetype }}</td>
      </ng-container>

      <ng-container matColumnDef="uploadDate">
        <th mat-header-cell *matHeaderCellDef>Data de upload</th>
        <td mat-cell *matCellDef="let element">
          {{ element.uploadDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="download(element)">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'productId',
          'productName',
          'filename',
          'filetype',
          'uploadDate',
          'actions'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: [
            'productId',
            'productName',
            'filename',
            'filetype',
            'uploadDate',
            'actions'
          ]
        "
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
