@use "@angular/material" as mat;
:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-rgb-13-20-28: rgba(13, 20, 28, 1);
  --text-rgb-79-112-150: rgba(79, 112, 150, 1);
  --text-rgb-8-135-59: rgba(8, 135, 59, 1);
  --text-rgb-232-56-8: rgba(232, 56, 8, 1);
}

.text-rgb-13-20-28 {
  color: var(--text-rgb-13-20-28);
}

.text-rgb-79-112-150 {
  color: var(--text-rgb-79-112-150);
}

.text-rgb-8-135-59 {
  color: var(--text-rgb-8-135-59);
}

.text-rgb-232-56-8 {
  color: var(--text-rgb-232-56-8);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.vector-0-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(13, 20, 28, 1);
  border: none;
  outline: none;
}

.vector-1-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(13, 20, 28, 1);
  border: none;
  outline: none;
}

.depth-6-frame-0-9 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 37.5%;
}

.depth-6-frame-1-10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 87.5%;
}

.depth-5-frame-0-6 {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.depth-4-frame-0-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.bar-title-name {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  text-transform: none;
  color: #4f974e;
}

.depth-4-frame-1-11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-3-frame-0-4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.bar-title-menu {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  text-transform: none;
  color: #4f974e;
}

.depth-5-frame-0-15 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-5-frame-1-17 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-5-frame-3-19 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-5-frame-4-21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-4-frame-0-14 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 36px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-4-frame-1-24 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 15.444015444015443%;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.depth-3-frame-1-23 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 24.31924882629108%;
}

.depth-3-frame-1-13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 83.203125%;
}

.depth-2-frame-0-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px 12px 40px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  border-bottom: 1px solid rgba(229, 232, 235, 1);
}

.text-title-dashboard {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: #4f974e;
}

canvas {
  width: 100% !important;   // Ocupa toda a largura do contêiner pai
  height: 100% !important; // Ajuste a altura conforme necessário
  display: block;
  margin: 0 auto;
  background: #f7ffee;         // Opcional: fundo branco para destacar o gráfico
  border-radius: 8px;       // Opcional: cantos arredondados
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); // Opcional: sombra leve
}

.depth-6-frame-0-29 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-6-frame-1-31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-5-frame-0-28 {
@media (max-width: 1440px) {
  .depth-5-frame-0-28 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .depth-5-frame-0-28 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 288px;
}

.depth-4-frame-0-27 {
@media (max-width: 1440px) {
  .depth-4-frame-0-27 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .depth-4-frame-0-27 {
    gap: 16px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.text-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-13-20-28);
}

.depth-6-frame-0-35 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-13-20-28);
}

.depth-6-frame-1-37 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-7-frame-0-40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-8-135-59);
}

.depth-7-frame-1-42 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-6-frame-2-39 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 83.25892800123106%;
}

.vector-0-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: none;
  outline: none;
}

.vector-1-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 3px solid rgba(79, 112, 150, 1);
  border: none;
  outline: none;
}

.vector-2-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.depth-8-frame-0-49 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 98.92761798797763%;
}

.depth-8-frame-1-50 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 98.92761798797763%;
}

.graph-bar {
  // flex-grow: 0;
  // flex-shrink: 1;
  // width: 100%;
  width: 400px !important;
  height: 200px !important;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.graph-line {
  // display: flex;
  // flex-direction: row;
  // justify-content: flex-start;
  // align-items: flex-start;
  // gap: 24px;
  // padding: 0px 12px 0px 12px;
  // flex-grow: 0;
  // flex-shrink: 1;
  // width: 83.25892971182348%;
  // min-height: 180px;
  width: 100% !important;
  max-width: 500px;
  height: 200px !important;
  display: block;
  margin: 0 auto;
  background: #f7ffee; 
}

.text-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-0-52 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-1-54 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-2-56 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-3-58 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-7-frame-1-51 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.depth-6-frame-3-44 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  padding: 16px 0px 16px 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 83.25892800123106%;
  min-height: 180px;
}

.depth-5-frame-0-34 {
@media (max-width: 1440px) {
  .depth-5-frame-0-34 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .depth-5-frame-0-34 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 288px;
  border: 1px solid rgba(209, 219, 232, 1);
  border-radius: 8px;
}

.text-62 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-13-20-28);
}

.depth-6-frame-0-61 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-13-20-28);
}

.depth-6-frame-1-63 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-67 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-7-frame-0-66 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-232-56-8);
}

.depth-7-frame-1-68 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-6-frame-2-65 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 83.25892971182348%;
}

.depth-8-frame-0-72 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(232, 237, 242, 1);
  border-top: 2px solid rgba(117, 117, 117, 1);
}

.text-74 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-1-73 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.depth-7-frame-0-71 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-8-frame-0-76 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(232, 237, 242, 1);
  border-top: 2px solid rgba(117, 117, 117, 1);
}

.text-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-1-77 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.depth-7-frame-1-75 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-8-frame-0-80 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(232, 237, 242, 1);
  border-top: 2px solid rgba(117, 117, 117, 1);
}

.text-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-1-81 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.depth-7-frame-2-79 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 24px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}



.depth-5-frame-1-60 {
@media (max-width: 1440px) {
  .depth-5-frame-1-60 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .depth-5-frame-1-60 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 288px;
  border: 1px solid rgba(209, 219, 232, 1);
  border-radius: 8px;
}

.text-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-13-20-28);
}

.depth-6-frame-0-84 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-87 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-13-20-28);
}

.depth-6-frame-1-86 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-90 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-7-frame-0-89 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-92 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-232-56-8);
}

.depth-7-frame-1-91 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-6-frame-2-88 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 83.25892971182348%;
}

.text-96 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-0-95 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-9-frame-0-98 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 9.800361890804684%;
  background-color: rgba(232, 237, 242, 1);
  border-right: 2px solid rgba(117, 117, 117, 1);
}

.depth-8-frame-1-97 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 73.86059195096898%;
}

.depth-7-frame-0-94 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.text-101 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-0-100 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.depth-9-frame-0-103 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 80.03628877490492%;
  background-color: rgba(232, 237, 242, 1);
  border-right: 2px solid rgba(117, 117, 117, 1);
}

.depth-8-frame-1-102 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 73.86059195096898%;
}

.depth-7-frame-1-99 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.text-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-79-112-150);
}

.depth-8-frame-0-105 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 19.705092221577235%;
}

.depth-9-frame-0-108 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 39.745912112707884%;
  background-color: rgba(232, 237, 242, 1);
  border-right: 2px solid rgba(117, 117, 117, 1);
}

.depth-8-frame-1-107 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 73.86059195096898%;
}

.depth-7-frame-2-104 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.depth-6-frame-3-93 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 12px 0px 12px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-height: 180px;
}

.depth-5-frame-2-83 {
@media (max-width: 1440px) {
  .depth-5-frame-2-83 {
    width: 47%;
    min-width: 280px;
  }
}

@media (max-width: 768px) {
  .depth-5-frame-2-83 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 30%;
  min-width: 280px;
  min-width: 288px;
  border: 1px solid rgba(209, 219, 232, 1);
  border-radius: 8px;
}

.depth-4-frame-2-33 {
@media (max-width: 1440px) {
  .depth-4-frame-2-33 {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .depth-4-frame-2-33 {
    gap: 16px;
  }
}
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px 16px 24px 16px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.depth-3-frame-0-26 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  max-width: 960px;
}

.depth-2-frame-1-25 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 160px 20px 160px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.depth-1-frame-0-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.node-1 {
@media (max-width: 1440px) {
  .node-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .node-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1280px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}